* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: none;
}

body {
  background: #ffffff;
  min-height: 100vh;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

nav {
  margin: 0 auto;
}

.logo {
  display: flex;
  flex-direction: row;
  background: none;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 25px;
}

.logo > #logo-txt {
  background: none;
  color: #4f6dbe;
  font-size: 200%;
  margin-top: 35px;
  margin-left: 10px;
}

.logo #logo-icon {
  margin-top: 0;
  font-size: 500%;
  background: none;
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 80%;
  }

  .add-btn {
    margin: 0;
  }
}

.add-btn {
  font-family: Geneva, Verdana, sans-serif;
  background-color: rgba(132, 195, 110, 1);
  color: white;
  padding: 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms;
  margin-right: 0;
}

.add-btn:hover {
  background-color: rgba(132, 195, 110, 0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid #4f6dbe;
  border-radius: 10px;
  z-index: 10;
  background: #f5f2f0;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%);
}

.modal-header {
  margin: 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #4f6dbe;
}

.modal-header .close-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25em;
  font-weight: bold;
}

.modal-header .form-title {
  font-size: 1.25em;
}

.modal form {
  padding: 10px 15px;
}

.modal label {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.modal input {
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.modal textarea {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  resize: vertical;
}

.modal .submit-btn {
  font-family: Geneva, Verdana, sans-serif;
  background-color: rgba(79, 109, 190, 1);
  color: white;
  padding: 0.7rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms;
  margin-right: 0;
}

.modal .submit-btn:hover {
  background-color: rgb(79, 109, 190);
}

.remove {
  font-family: Geneva, Verdana, sans-serif;
  background-color: rgba(246, 87, 90, 1);
  color: white;
  padding: 0.7rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 20px;
}

.remove:hover {
  background-color: rgba(246, 87, 90, 0.75);
}
.books {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
  width: 80%;
}

.book {
  width: 100%;
  border: #4f6dbe;
  border-radius: 1px;
}

.title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
}

.author {
  text-align: left;
  padding-top: 5px;
  font-size: 120%;
  padding-bottom: 5px;
}

.info {
  padding-top: 10px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: rgba(150, 150, 150, 0.5);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  text-align: center;
  background: none;
}

a {
  background: none;
  color: #4f6dbe;
}
