* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: none;
  margin: 0 auto;
}

body {
  background: #f5f2f0;
  min-height: 100vh;
}
.logo {
  display: flex;
  flex-direction: row;
  background: none;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 25px;
}

.logo > #logo-txt {
  background: none;
  color: #4f6dbe;
  font-size: 200%;
  margin-top: 35px;
  margin-left: 10px;
}

.logo #logo-icon {
  font-size: 500%;
  background: none;
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 80%;
  }

  .add {
    margin: 0;
  }
}

.add {
  font-family: Geneva, Verdana, sans-serif;
  background-color: rgba(132, 195, 110, 1);
  color: white;
  padding: 1rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms;
  margin-right: 0;
}

.add:hover {
  background-color: rgba(132, 195, 110, 0.8);
}

.remove {
  font-family: Geneva, Verdana, sans-serif;
  background-color: rgba(246, 87, 90, 1);
  color: white;
  padding: 0.7rem 1rem;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  font-size: 1.1r;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms;
  margin-top: 20px;
}

.remove:hover {
  background-color: rgba(246, 87, 90, 0.8);
}
.books {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;
  width: 80%;
}

.book {
  width: 100%;
  border: #4f6dbe;
  border-radius: 1px;
}

.title {
  font-size: 150%;
  font-weight: bold;
  padding-top: 20px;
}

.author {
  text-align: left;
  padding-top: 10px;
  font-size: 120%;
}

.info {
  padding-top: 10px;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: rgba(150, 150, 150, 0.5);
  width: 100%;
  height: 40px;
  padding-top: 10px;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  text-align: center;
  background: none;
}

a {
  background: none;
  color: #4f6dbe;
}
